" ============================================================================
" Emulated plugins
" ============================================================================
" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md
set exchange
" [exchange](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#exchange)
" Emulates: [vim-exchange](https://github.com/tommcdo/vim-exchange)
" Commands: cx, cxx, X, cxc

set surround
" [surround](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#surround)
" Emulates: [vim-surround](https://github.com/tpope/vim-surround)
" Commands: ys, cs, ds, S

set multiple-cursors
" Emulates: [vim-multiple-cursors](https://github.com/terryma/vim-multiple-cursors)
" Commands: <A-n>, <A-x>, <A-p>, g<A-n>

set commentary
" [commentary](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#commentary)
" Emulates: [commentary.vim](https://github.com/tpope/vim-commentary)
" Commands: gcc, gc + motion, v_gc

set argtextobj
" [argtextobj](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#argtextobj)
" Emulates: [argtextobj.vim](https://www.vim.org/scripts/script.php?script_id=2699)
" Additional text objects: aa, ia

set textobj-indent
" [vim-indent-object](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#vim-indent-object)
" Emulates:  [vim-indent-object](https://github.com/michaeljsmith/vim-indent-object)
" Additional text objects: ai, ii

set highlightedyank
" [highlightedyank](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#highlightedyank)
" Emulates: [vim-highlightedyank](https://github.com/machakann/vim-highlightedyank)

set sneak
" [sneak](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#sneak)
" Emulates: [vim-sneak](https://github.com/justinmk/vim-sneak)

set quickscope
" [IdeaVim-Quickscope](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#ideavim-quickscope)
" Emulates: [quick-scope](https://github.com/unblevable/quick-scope)

set easymotion
" [easymotion](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#easymotion)
" Emulates:  [vim-easymotion](https://github.com/easymotion/vim-easymotion)

Plug 'vim-scripts/ReplaceWithRegister'
" [ReplaceWithRegister](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#replacewithregister)
" Emulates: [ReplaceWithRegister](https://github.com/vim-scripts/ReplaceWithRegister)

Plug 'preservim/nerdtree'
" [NERDTree](https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#nerdtree)
" Emulates: [NERDTree](https://github.com/preservim/nerdtree)

" ============================================================================
" Set commands
" ============================================================================
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Integrate with system clipboard
" set clipboard=unnamedplus,unnamed
" Add ideaput to clipboard option to perform a put via the IDE
" set clipboard+=ideaput
set clipboard=unnamedplus,unnamed,ideaput
" If set, creation of global mark will trigger creation of IDE's bookmark and vice versa.
set ideamarks
" If set, join command will be performed via IDE
set ideajoin

" The ":substitute" flag 'g' is default on
" the ":substitute" flag 'g' is by default
" No need to add g at the end substitution command
" set gdefault

" Highlight matches with the current search pattern
set hlsearch

" Ignore case when searching
set ignorecase

" Makes search act like search in modern browsers
" Show where search pattern typed so far matches
set incsearch

" Pairs of characters that "%" can match
set matchpairs=(:),[:],{:},<:>

" number formats recognized for CTRL-A command
set nrformats+=alpha
set nrformats-=octal

" Use hybrid (absolute and relative) numbers
set number relativenumber

" message on status line to show current mode
set showmode

" When searching try to be smart about cases
set smartcase

" time that is waited for a mapped key sequence
set timeoutlen=500

" use visual bell instead of beeping
set visualbell

" searches wrap around the end of the file
set wrapscan

" ============================================================================
" Plugin settings
" ============================================================================

" https://github.com/unblevable/quick-scope#highlight-on-key-press
" let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

let g:EasyMotion_startofline = 0 " keep cursor column when JK motion
let g:EasyMotion_smartcase = 1
let g:EasyMotion_use_smartsign_us = 1

" make vim-easymotion match spacemacs and doom emacs
nmap gs <Plug>(easymotion-prefix)
nmap <Leader>f <Plug>(easymotion-overwin-f)
xmap <Leader>f <Plug>(easymotion-bd-f)
omap <Leader>f <Plug>(easymotion-bd-f)
nmap <Leader>s <Plug>(easymotion-overwin-f2)
xmap <Leader>s <Plug>(easymotion-bd-f2)
omap <Leader>s <Plug>(easymotion-bd-f2)
nmap <Leader>t <Plug>(easymotion-bd-t2)
xmap <Leader>t <Plug>(easymotion-bd-t2)
omap <Leader>t <Plug>(easymotion-bd-t2)
nmap <Leader>L <Plug>(easymotion-overwin-line)
xmap <Leader>L <Plug>(easymotion-bd-jk)
omap <Leader>L <Plug>(easymotion-bd-jk)
nmap <Leader>w <Plug>(easymotion-overwin-w)
xmap <Leader>w <Plug>(easymotion-bd-w)
omap <Leader>w <Plug>(easymotion-bd-w)
nmap <Leader>l <Plug>(easymotion-lineforward)
nmap <Leader>j <Plug>(easymotion-j)
nmap <Leader>k <Plug>(easymotion-k)
nmap <Leader>h <Plug>(easymotion-linebackward)

" https://github.com/Mishkun/ideavim-sneak/issues/15
" 2-character Sneak (default)
nmap <A-s> <Plug>(sneak-s)
nmap <A-S> <Plug>(sneak-S)
" visual-mode
xmap <A-s>   <Plug>(sneak-s)
xmap <A-S> <Plug>(sneak-S)
" operator-pending-mode
omap <A-s>   <Plug>(sneak-s)
omap <A-S> <Plug>(sneak-S)

" repeat motion
map ; <Plug>(sneak-;)
map , <Plug>(sneak-,)

" 1-character enhanced 'f'
nmap f <Plug>(sneak-f)
nmap F <Plug>(sneak-F)
" visual-mode
xmap f <Plug>(sneak-f)
xmap F <Plug>(sneak-F)
" operator-pending-mode
" omap f <Plug>(sneak-f)
" omap F <Plug>(sneak-F)

" 1-character enhanced 't'
nmap t <Plug>(sneak-t)
nmap T <Plug>(sneak-T)
" visual-mode
xmap t <Plug>(sneak-t)
xmap T <Plug>(sneak-T)
" operator-pending-mode
" omap t <Plug>(sneak-t)
" omap T <Plug>(sneak-T)

" ============================================================================
" IDE actions
" ============================================================================

nnoremap ga :action GotoAction<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action GotoFile<CR>
" go is normally like gg,
" instead remap go as Go to Class
" Mnemonic: 'Go Object'
nnoremap go :action GotoClass<CR>
nnoremap gr :action GotoRelated<CR>
nnoremap gs :action GotoSymbol<CR>

nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

" unimpaired-style mappings
nnoremap [<Space> O<Esc>j
nnoremap ]<Space> o<Esc>k
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]o :action SelectNextOccurrence<CR>
nnoremap [o :action SelectPreviousOccurrence<CR>
nnoremap ]u :action GotoNextElementUnderCaretUsage<CR>
nnoremap [u :action GotoPrevElementUnderCaretUsage<CR>
nnoremap ]p :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorOnlyLayoutChangeAction<CR>
nnoremap [p :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorAndPreviewLayoutChangeAction<CR>
nnoremap ]P :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorOnlyLayoutChangeAction<CR>
nnoremap [P :action org.intellij.plugins.markdown.ui.actions.editorLayout.PreviewOnlyLayoutChangeAction<CR>
" Listed by Active Editor (EditorToggleActions)
nnoremap yob :action EditorToggleShowBreadcrumbs<CR>
nnoremap yod :action ToggleDistractionFreeMode<CR>
nnoremap yog :action EditorToggleShowGutterIcons<CR>
nnoremap yoi :action EditorToggleShowIndentLines<CR>
nnoremap yon :action EditorToggleShowLineNumbers<CR>
nnoremap yop :action TogglePresentationMode<CR>
nnoremap yos :action ViewStatusBar<CR>
nnoremap yot :action ViewToolBar<CR>
nnoremap yow :action EditorToggleUseSoftWraps<CR>
nnoremap yoz :action ToggleZenMode<CR>

" Backslash as leader key mappings
" Instead of ActivateCommitToolWindow, use Cmd+k and Cmd+w
" Set up external tool "black":
" https://black.readthedocs.io/en/stable/editor_integration.html
" Arguments: "$FilePath$" -l 79
nmap <space> <leader>
nnoremap <leader>a :action EditorActions<CR>
nnoremap <leader>b :action Tool_External Tools_Black<CR>
nnoremap <leader>c :action ShowIntentionActions<CR>
nnoremap <leader>d :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>e :action ActivateEventLogToolWindow<CR>
" nnoremap <leader>f :action RenameFile<CR>
nnoremap <leader>g :action EditorPopupMenu.GoTo<CR>
" nnoremap <leader>h :action LocalHistory.ShowHistory<CR>
nnoremap <leader>i :action GotoImplementation<CR>
" nnoremap <leader>j :action JumpToLastWindow<CR>
" nnoremap <leader>k :action Help.KeymapReference<CR>
" Reformat Code is M-A-L
" nnoremap <leader>l :action ReformatCode<CR>
nnoremap <leader>m :action Move<CR>
nnoremap <leader>n :action ShowNavBar<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>p :action ActivatePythonConsoleToolWindow<CR>
nnoremap <leader>q :action CloseProject<CR>
nnoremap <leader>r :action ActivateRConsoleToolWindow<CR>
" nnoremap <leader>s :action ActivateSciViewToolWindow<CR>
" nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>u :action FindUsagesInFile<CR>
" Introduce Variable is M-A-V
nnoremap <leader>v :action IntroduceVariable<CR>
" nnoremap <leader>w :action HideAllWindows<CR>
nnoremap <leader>x :action ChangeSplitOrientation<CR>
" Reload All from Disk is M-A-Y
nnoremap <leader>y :action Synchronize<CR>
" Rollback is M-A-Z
nnoremap <leader>z :action Vcs.RollbackChangedLines<CR>
" Clear search highlighting when hitting backslash twice
nnoremap <leader><leader> :nohlsearch<CR>

" These work, you just have to do the combo very fast
nnoremap <c-w>+ :action StretchEditorToBottom<CR>
nnoremap <c-w>- :action StretchEditorToTop<CR>
nnoremap <c-w>> :action StretchEditorToRight<CR>
nnoremap <c-w>< :action StretchEditorToLeft<CR>
" <C-t> = Refactor this... now only works in normal mode
" so <C-t> can indent line in insert mode
nnoremap <C-t> :action Refactorings.QuickListPopupAction<CR>

" Emacs and bash style insert mode CTRL shortcuts
" <C-a> = Move to start of the line; like in vim command mode: c_ctrl-b; To insert previously inserted text, use <C-r>. or <Alt-.> (below)
inoremap <C-a> <Home>
" <C-b> = Move one character backward
inoremap <C-b> <Left>
" <C-d> = Delete one character forward; the opposite of <C-h>
inoremap <C-d> <Delete>
" <C-e> = Move to end of the line; the opposite of <C-a>; already exists in command mode: c_ctrl-e
inoremap <C-e> <End>
" <C-f> = Move one character forward; the opposite of <C-b>
inoremap <C-f> <Right>
" <C-g> = Cancel completion
inoremap <silent><expr> <C-g> pumvisible() ? "\<C-e>" :  "<C-g>"
" <C-h> = Delete one character backward; the opposite of <C-d>; already exists in command mode: c_ctrl-h
" <C-k> = Delete to end of line; the opposite of <C-u>
inoremap <C-k> <C-o>:action EditorDeleteToLineEnd<CR>
" <C-n> = Complete word using matches that come next; the opposite of <C-p>
inoremap <C-x><C-n> <C-o>:action HippieBackwardCompletion<CR>
inoremap <C-x>n <C-o>:action HippieBackwardCompletion<CR>
" inoremap <C-n> <C-o>:action HippieBackwardCompletion<CR>
" <C-p> = Complete word using previous matches; the opposite of <C-n>
inoremap <C-x><C-p> <C-o>:action HippieCompletion<CR>
inoremap <C-x>p <C-o>:action HippieCompletion<CR>
" inoremap <C-p> <C-o>:action HippieCompletion<CR>
" <C-u> = Delete to start of line; the opposite of <C-k>; already exists in command mode: c_ctrl-u
" <C-w> = Delete word backward; opposite of <A-d>; same as <A-h>; already exists in command mode: c_ctrl-w
" <C-y> = Paste from system clipboard (not from killring like in bash/emacs)
inoremap <C-y> <C-r>+
" <C-_> = Undo like in bash/emacs (this works really well)
inoremap <C--> <C-o>u

" Emacs and bash style insert mode ALT shortcuts
" <A-b> = Move one word backward; opposite of <A-f>
inoremap <A-b> <S-Left>
" <A-c> = Capitalize letter and move forward
inoremap <A-c> <C-o>gUl<C-o>l<C-o>guw<Esc>ea
" <A-d> = Delete word forward; opposite of <A-h> and <C-w>
inoremap <A-d> <C-o>:action EditorKillToWordEnd<CR>
" <A-f> = Move one word forward; opposite of <A-b>
inoremap <A-f> <S-Right>
" <A-h> = Delete word backward; opposite of <A-d>, same as <C-w>
inoremap <A-h> <C-w>
" <A-j> = Move down; opposite of <A-k>
inoremap <A-j> <Down>
" <A-k> = Move up; opposite of <A-j>
inoremap <A-k> <Up>
" <A-l> = Lowercase to word end; opposite of <A-u> (works)
inoremap <A-l> <C-o>gue<Esc>ea
" <A-t> = Swap current word with previous word (works)
inoremap <A-t> <Esc>diwbPldepa
inoremap <M-t> <Esc>dawbhpi
" <A-u> = Uppercase to WORD end; opposite of <A-l> (does not work)
inoremap <A-u> <C-o>gUe<Esc>ea
" " <A-.> = Insert previously inserted text (if any)
inoremap <A-.> <Esc>a<C-r>.
cnoremap <A-.> <C-r>.
" " <A--> = Undo
inoremap <A--> <Esc>ugi
" inoremap <A--> <C-o>u

" Multiple cursors mappings
" inoremap <A-j> <C-o>:action EditorCloneCaretBelow<CR>
" inoremap <A-k> <C-o>:action EditorCloneCaretAbove<CR>

" remap Y to y$ to make it easier to yank to the end of the line
nnoremap Y y$
